@CHARSET "UTF-8";


/*body {overflow-y:scroll;}*/
html {overflow-y:scroll;} 

/* ¿ä¼Ò(element) ¿©¹é ÃÊ±âÈ­ */
html, body, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, address, pre, cite, form, fieldset, caption, input, textarea, select {
margin: 0;
padding: 0;
}

/* CK Editor default value - config_edit.js Âü°í */
p { font-size:12px; font-family:MalgunGothic; margin-top:0px; margin-bottom:0px;}
/* div { font-size : 12px; font-family : MalgunGothic; } */

/* Á¦¸ñ¿ä¼Ò */
h1,h2,h3,h4,h5,h6{font-size:100%;}

/* Å×µÎ¸® ¾ø¾Ö±â */
fieldset,img,abbr,acronym{border:0 none}

/* ¸ñ·Ï */
ul, ol{list-style:none}

/* Å×ÀÌºí - ¸¶Å©¾÷¿¡ 'cellspacing="0"' ÁöÁ¤ 
table{border-spacing:0}
caption,th,td{border:0;font-weight:normal;text-align:left}
button{padding:0;border:0;background:transparent;cursor:pointer}*/

/* ÅØ½ºÆ® °ü·Ã ¿ä¼Ò ÃÊ±âÈ­ */
address,caption,em,cite{font-weight:normal;font-style:normal}
ins{text-decoration:none}
del{text-decoration:line-through}

/* ¼öÆò¼± */
hr{display:none}

a{text-decoration:none; cursor:pointer color:#787878;}
a:link{text-decoration:none; color:#787878;}
a:visited{text-decoration:none; color:#787878; }
a:active,a:focus{text-decoration:none; color:#787878; }
a:hover{text-decoration:none;  color:#787878}

select{vertical-align:middle}

.clear{display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}

#p_wrapper { width:100%; }
#header { width:100%; height:45px; background:url(../../images/apr/title_bg.gif) 0 bottom  repeat-x; background-color:#FFFFFF; position:fixed; top:0px; z-index:10;}
#header  h1 { margin:12px 0 0 10px; float:left; }
#header .menu { margin:14px 0 0 20px; float:left;  }
#header .menu li { position:relative; float:left; font-family:"µ¸¿ò"; font-size:11px; color:#5d5d5d; }
#header .menu li label { position:absolute; top:0px; left:15px;  top:2px\0IE8+9;  }
#header .btn { font-family:"µ¸¿ò"; font-size:12px; float:right; margin:8px 13px 0 0; }
#header .btn a.print { display:inline-block; padding:4px; background:#fffff; border:1px solid #dadada; width:40px;  height:14px; text-align:center;  }
#header .btn a.print:hover, #header .btn a.close:hover { display:inline-block; padding:4px; background:#949297; border:1px solid #7a7a7a; width:40px; height:14px; text-align:center; color:#FFF; }
#header .btn a.close { display:inline-block; padding:4px; margin-left:4px; background:#fffff; border:1px solid #dadada; width:40px;  height:14px; text-align:center; }

.content { border:1px solid #ffffff; margin:15px 10px 0 10px; padding:10px 5px 6px 5px;  min-width:850px; }

#middle .content h1 { width:100%; font-size:25px; display:inline-block; font-family:"µ¸¿ò"; text-align:center;  }
#middle .content h2 { width:100%; font-size:25px; display:inline-block; font-family:"µ¸¿ò"; text-align:center;  }

#middle .content .company { float:left; font-family:"µ¸¿ò"; font-size:14px; font-weight:bold; margin:10px 0 0 10px; }
#middle .content .team { float:right; font-family:"µ¸¿ò"; font-size:14px; font-weight:bold; margin:10px 10px 0 0; }

.table01_box { border-top:1px #000000 solid; margin:5px 0 0 0; min-width:850px;  }
.table01 { width:100%; border-top:1px #000000 solid; table-layout:fixed; border-collapse:collapse; font-family:"µ¸¿ò"; font-size:12px; }
.table01 td div.bg01 {  background:#FFF; height:25px;  display:table-cell; vertical-align:middle; width:300px; }
.table01 td div.bg02 { background:#FFF; height:77px;  position:relative; z-index:2; }
.table01 td div.bg02 .sign { position:absolute; z-index:1; top:0px; left:50%; margin-left:-38px; height:77px; opacity:0.3; filter:alpha(opacity=30); }
.table01 td div.bg02 .text { position:absolute; z-index:2; top:0px; height:77px; left:50%; width:74px; margin-left:-37px;  display:table-cell; vertical-align:middle; }
.table01 td div.bg02 .text ul { position:relative; height:77px; width:74px;  display:table-cell; vertical-align:middle; }
.table01 caption{ display:none; }
.table01 th { background:#e6e6e6; border-bottom:1px #000000 solid;  border-left: 1px #000000 solid; border-top:1px #000000 solid; text-align:center; height:25px; min-width:74px; }
.table01 td {  border-bottom:1px #000000 solid; border-top:1px #000000 solid; border-left: 1px #000000 solid; text-align:center; background:#e6e6e6; line-height:16px; }
.boeder_left { border-right: 1px #000000 solid; }
.boeder_top { border-top: 1px #000000 solid; }
#middle .boeder_bnone { border-bottom:none; }
.table01 span { display:block; }
.table01 span.red { color:#F00; font-weight:bold; font-size:12px;   }

.table02 {  table-layout:fixed; border-collapse:collapse; font-family:"µ¸¿ò"; font-size:12px; width:100%; }
.table02 td div.bg01 {  background:#FFF; height:25px;  display:table-cell; vertical-align:middle; width:300px; }
.table02 td div.bg02 {  background:#FFF;  display:table-cell; vertical-align:middle; width:300px; overflow:hidden; }
.table02 th div.bg02 {  background:#FFF; height:77px; display:table-cell; vertical-align:middle; width:300px; }
.table02 caption{ display:none; }
.table02 th { background:#e6e6e6; border-bottom:1px #000000 solid;  border-left: 1px #000000 solid;  text-align:center; height:25px; }
.table02 td { border-top:1px #000000 solid; border-bottom:1px #000000 solid; border-left: 1px #000000 solid; text-align:center; background:#e6e6e6; line-height:16px; }
.table02 span { display:block; }
.table02 span.red { color:#F00; font-weight:bold; font-size:12px; }
.table02_box { border-top:1px #000000 solid; margin:5px 0 0 0;  min-width:850px;  }

.table03 { width:100%; border-top:1px #000000 solid; table-layout:fixed; border-collapse:collapse; font-family:"µ¸¿ò"; font-size:12px; }
.table03 caption{ display:none; }
.table03 th { background:#e6e6e6; border-bottom:1px #000000 solid;  border-left: 1px #000000 solid; border-top:1px #000000 solid; text-align:center; height:25px; }
.table03 td {  border-bottom:1px #000000 solid; border-top:1px #000000 solid; border-left: 1px #000000 solid; border-right: 1px #000000 solid; line-height:14px; padding-left:10px; }
.table03_box { border-top:1px #000000 solid; margin:5px 0 0 5px; }

.table04 { width:100%; border-top:1px #000000 solid; table-layout:fixed; border-collapse:collapse; font-family:"µ¸¿ò"; font-size:12px; }
.table04 .user { color:#003399; }
.table04 .user img { position:relative; top:2px; margin-right:5px; }
.table04 .file img, .table04 .doc img  { position:relative; top:1px; margin-right:5px; }
.table04_box { border-top:1px #000000 solid; margin:5px 0 0 0; width:100%;  min-width:850px; }
.table04 caption{ display:none; }
.table04 th { background:#e6e6e6; border-bottom:1px #000000 solid;  border-left: 1px #000000 solid; border-top:1px #000000 solid; text-align:center; height:25px; }
.table04 td {  border-bottom:1px #000000 solid; border-top:1px #000000 solid; border-left: 1px #000000 solid; border-right: 1px #000000 solid; line-height:16px; padding:10px; }

.table05_box { border-top:1px #000000 solid; margin:5px 0 0 0; width:100%; min-width:850px;  }

.content_box { border:1px #000000 solid; margin:5px 0 0 0; width:99.9%; word-break:break-all; overflow:hidden;  min-width:850px;  }

td.bgw { background:#FFF; }

@media print {
	#header { display:none; }
}

/*°áÀçÀÇ°ß*/
.approvalOpinionCode0 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#f38405; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*¼öÁ¤(ÁÖÈ²)*/
.approvalOpinionCode1 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#69F; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*±â¾È(ÆÄ¶û)*/
.approvalOpinionCode2 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#9FC93C; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*½ÂÀÎ(ÃÊ·Ï)*/
.approvalOpinionCode3 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#FFBB00; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*ÇÕÀÇ(³ë¶û)*/
.approvalOpinionCode4 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#F66; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*¹Ý·Á(»¡°­)*/
.approvalOpinionCode5 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#9FC93C; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*Àü°á(ÃÊ·Ï)*/
.approvalOpinionCode6 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#FFBB00; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*Á¢¼ö(³ë¶û)*/
.approvalOpinionCode7 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#A566FF; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*¼ö½Å(º¸¶ó)*/
.approvalOpinionCode8 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#F66; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*Àü´Ü°è¹Ý·Á(»¡°­)*/
.approvalOpinionCode9 {padding:0px 5px 2px 5px; border-radius:3px; color:#fff; background-color:#aeb2bd; font-family:Malgun Gothic, µ¸¿ò,dotum,±¼¸²,Gulim,Helvetica,AppleGothic,Tahoma,Verdana;}/*È¸¼ö(Èæ»ö)*/
.F_12_black_b{color:#000; font-size:12px; font-weight:bold;}
.F_11_gray{color:#999; font-size:12px; font-weight:100;}

/*ÆÄÀÏ ¾ÆÀÌÄÜ*/
.fileIcon {display:inline-block; width:16px; height:16px; background-repeat:no-repeat; text-indent:-9999px;}
.file_folder {background:url(../../resource/image/common/diskfile_ico.png) 0 -10px;}
.file_folder_share {background:url(../resource/image/common/diskfile_ico.png) -258px -10px;}
.file_image {background:url(../../resource/image/common/diskfile_ico.png) -21px -10px;}
.file_zip {background:url(../../resource/image/common/diskfile_ico.png) -42px -10px;}
.file_hwp {background:url(../../resource/image/common/diskfile_ico.png) -63px -10px;}
.file_xls {background:url(../../resource/image/common/diskfile_ico.png) -83px -10px;}
.file_txt {background:url(../../resource/image/common/diskfile_ico.png) -104px -10px;}
.file_exe {background:url(../../resource/image/common/diskfile_ico.png) -125px -10px;}
.file_pdf {background:url(../../resource/image/common/diskfile_ico.png) -147px -10px;}
.file_html {background:url(../../resource/image/common/diskfile_ico.png) -170px -10px;}
.file_ppt {background:url(../../resource/image/common/diskfile_ico.png) -193px -10px;}
.file_ect {background:url(../../resource/image/common/diskfile_ico.png) -215px -10px;}
.file_doc {background:url(../../resource/image/common/diskfile_ico.png) -237px -10px;}

.o-i-min-fileList {background:url(../../resource/image/common/ico_notice.png) no-repeat; width:13px; height:17px;}
.disInline {display:inline-block}
.dispNone {display:none;}
.verti_Top {vertical-align: top;}

.o-i-view-minu {display:inline-block; background:url(../../images/mai/ico_btn_minu.png) no-repeat; width:14px; height:14px; text-indent:-9999px; cursor:pointer;margin-top:2px}
.o-i-view-plus {display:inline-block; background:url(../../images/mai/ico_btn_plus.png) no-repeat; width:14px; height:14px; text-indent:-9999px; cursor:pointer;margin-top:2px}

.abc-box {position:relative; padding:10px; border:1px solid #c5c5c5; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-color:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.6)}